.logo{
	width: 140px;
	height: 60px;
}
.nav .logo{
	font-family: 'Russo One', sans-serif;
}

.navbar-form{
	margin-top: 12px;
}
#TimKiem{
	width: 100%;
}
.dangnhap_nav{
	padding-top: 15px;
	text-align: right;
}

/* /Phần footer */
#footer {
	background: #F1F1F1;
	margin-top: 60px;
	padding-top: 20px;
}
.site-footer{
	background-color: #222;
	color: #fff;
	margin-top: 25px;
	padding-top: 20px;
}
.bottom-footer{
	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2;
}
.footer-nav {
	text-align: right;
	list-style: none;
}
.footer-nav li{
	display: inline;
	padding: 0px 5px;
}
.footer-nav li:not(:first-child):before{
	content: '|';
	padding:  0px 5px;
}
.footer-nav a{
	color:  #b2b2b2;
}
.footer-nav a:hover{
	color: #fff;
	text-decoration: none;
}


.right-content{
	padding-top: 5px;
	box-sizing: border-box;
   	border-top: solid 1px;
}
.top_right {
	background-color: lightcyan;
}

/* .dienthoai-image {
	width: 180px;
	height: 200px;
}

.dienthoai-item {
	max-width: 200px;
	max-height: 220px;
} */


.selloff {
	padding-top: 35px;
}
.detail-img img {
	width: 85%;
	height: auto;
}
.NhanPB{
	font-size: 18px;
}


.panelBinhLuan ul,li{
    list-style: none;
}
.comment .usercomment{
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    color: #C71858;
}
.comment .ndcomment {
    font-size: 15px;
    padding-left: 15px;
}
.comment .thoigiancomment {
    font-size: 12px;
    padding-left: 15px;
    color: #856F77;
}


/*QUANG 16/11*/
.nvdangbai span {
        display: inline-block;
        font-size: 12px;
        color: #999;
        vertical-align: middle;
        margin: -2px 5px 0;
        cursor: pointer;
    }
    .titletintuc {
        display: block;
        overflow: hidden;
        line-height: 53px;
        font-size: 25px;
        color: #333;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        width: 800px;
        margin: auto;
    }
    .tinchinh p,
    .tinchinh h2,
    .tinchinh h3 {
        margin: 20px auto;
        font-size: 20px;
        color: #333;
        text-align: justify;
        line-height: 28px;
    }
    .xemthem
    {
    	margin: 20px auto;
        font-size: 20px;
        color: #333;
        text-align: justify;
        line-height: 28px;
    }
    
    .frm_DangNhap {
        border: 10px solid #147696;
        border-radius: 6px ;
        position: absolute;
        width : 500px;
        height: auto;
        left: 50%; 
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        padding: 30px;
        box-shadow: 5px 10px 5px #666; 
        background: #E5F2D8;
    }
    .frm_DangNhap small {
        font-style: italic;
    }
    .frm_DangNhap hr{
        color: #856F77;
    }
   #btn_DN{
        margin-left:30% ;
    }
    
    
    
/*    form đổi mật khẩu*/
.frm_label .form-group label{
    text-align: left;
}
.quenmk {
        border: 10px solid #147696;
        border-radius: 6px ;
        position: absolute;
        left: 50%; 
        top: 35%;
         width : 700px;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        padding: 30px;
        box-shadow: 5px 10px 5px #666; 
        background: #E5F2D8;
}